<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    Please, answer the questions below:
    <form action="/madlib">
    	What's your name?
    	<input type="text" name="name">
    	<br>Select any color:
    	<input type="radio" name="color" value="blue">Blue
    	<input type="radio" name="color" value="red">Red
    	<input type="radio" name="color" value="green">Green
    	<input type="radio" name="color" value="white">White
    	<br>Type in a noun:
    	<input type="text" name="noun">
    	<br>Type in adjective:
    	<input type="text" name="adjective">
    	<br><br><input type="submit">
    </form>
</body>
</html>